body {
  padding: 0rem;
  margin: 0rem;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0rem 1rem;

  @media screen and (min-width: 992px) {
    margin: 0rem auto;
    max-width: 60.25rem;
  }
}

.container-fluid {
  width: 100%;  
}
