@import '../../../stylesheets/vars.less';

.form {
  position: relative;

  &Icon {
    position: absolute;
    top: 40%;
    right: 5%;
    font-size: 2rem;
  }
}

.input {
  position: relative;
  border: 3px solid @borderColor;
  outline: none;
  background-color: transparent;
  padding: 50px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 100%;

  &::placeholder {
    color: @borderColor;
  }
}

.load {
  margin-top: 50px;
}
